@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.table-page {
  display: flex;
  flex-direction: column;

  .table-title {
    color: var(--secondary);
    width: 100vw;
    font-size: 2.5rem;
    padding-left: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--secondary);
  }

  .table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  tr:nth-child(2n + 0) {
    background-color: var(--main);
  }

  tr:nth-child(2n + 1) {
    background-color: var(--third);
  }

  th {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--secondary);
    color: white;
  }

  td {
    height: 2.7rem;
  }

  .add-reservation {
    position: fixed;
    bottom: 15%;
    right: 8%;
    background-color: var(--action);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 15%;
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 600;
    color: var(--main);
    img {
      filter: invert(97%) sepia(7%) saturate(58%) hue-rotate(114deg) brightness(97%) contrast(94%);
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}
