.search-container {
  align-self: center;
  justify-content: center;

  .search {
    min-width: 20rem;
    height: 2rem;
    border-radius: 6px;
    background-image: url('../../assets/search.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;
  }
}
