//Calendar header
.calendar-header {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 20rem;
  max-width: 80vw;
  margin-left: 5vw;

  .month-name {
    font-size: 1.8rem;
    color: var(--secondary);
  }

  .year {
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 500;
  }

  .arrow-left,
  .arrow-right {
    filter: invert(75%) sepia(37%) saturate(825%) hue-rotate(334deg) brightness(91%) contrast(92%);
  }
}

//Table container
.table-container {
  display: flex;
  overflow-x: scroll;
  flex-direction: column;
}
