.update-details-form {

    background-color: var(--third);
    border-radius: 5px;
    padding: 1rem;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 2;
    pointer-events: all;
}



