.submit-update-button {
  grid-area: submit;
  padding: 0.9rem 0;
  background-color: var(--secondary);
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.06rem;
  font-size: 0.9rem;
  color: white;
}
