.bubble-update-delete {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 5px;
}

.bubble-update-delete .buttons {
  display: flex;
  gap: 3rem;
}

.bubble-update-delete .buttons button {
  background-color: var(--action);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: 'Opens Sans', sans-serif;
}
