#form-container {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  background-color: var(--main);
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  overflow-y: auto;
  padding-top: 10rem;
}

#form-reservation {
  padding: 17% 10%;
  width: 100%;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-family: inherit;
  overflow-y: scroll;
}

#form-reservation input {
  border-radius: 8px;
  padding: 5px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: white;
}

#form-reservation input[type='checkbox'] {
  width: 1.2rem;
  height: 1.2rem;
}

#name-cx {
  width: 20rem;
}

#dates {
  display: flex;
  gap: 1rem;
}

.rooms-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#rooms-fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1.5rem;
  column-gap: 5rem;
  accent-color: var(--action);
  width: 15rem;
  height: 17rem;
  padding: 1rem;
  overflow-y: scroll;
  border: solid 1px gray;
  border-radius: 5px;
}

#form-reservation p {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}

#rooms-fieldset label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.1rem;
  color: black;
}

#form-reservation label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.1rem;
  color: black;
}

#adults-childs {
  display: flex;
  gap: 1rem;
}

#form-reservation #adults-childs label,
#form-reservation #money-field label {
  flex-direction: row;
}

#adults,
#childs,
#advance,
#reducere {
  width: 4rem;
}

#advance,
#total {
  width: 6rem;
  margin: 0px 0.3rem;
}

#cancel {
  filter: invert(68%) sepia(41%) saturate(599%) hue-rotate(350deg) brightness(92%) contrast(91%);
  align-self: flex-start;
  left: 5%;
  top: 2%;
  position: absolute;
}

#submit {
  padding: 1rem;
  font-family: inherit;
  background-color: var(--action);
  color: black;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}

.error-layout {
  position: fixed;
  pointer-events: all;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.error {
  font-family: inherit;
  background-color: brown;
  max-width: 75%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 500;
  gap: 1rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transform: translateY(-2rem);
}

#confirm-submission {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#money-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: inherit;
  margin-top: 2rem;
}

.price-per-room {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .price-on-room {
    width: 7rem;
  }
}

#balance {
  font-size: 1.1rem;
  justify-self: center;
  align-self: center;
  color: black;
}

#confirm-submission-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: all;
  z-index: 15;
}

#confirm-submission {
  background-color: rgba(255, 255, 255, 1);
  width: 20rem;
  height: 15rem;
  color: black;
  font-family: inherit;
  border-radius: 50px;
  padding: 2rem;
  box-shadow: 2px 2px 20px 1px rgba(150, 150, 150, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

#confirm-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#submit-confirm,
#exit-confirm {
  padding: 0.8rem;
  background-color: var(--action);
  color: white;
  font-family: inherit;
  font-size: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
}
