.sort-modal {
  position: absolute;
  background-color: var(--brighter-main);
  top: 100%;
  left: 10%;
  padding: 1rem;
  padding-top: 0.2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: #666;

  .sort-options {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: black;
  }
}
