.money-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-family: inherit;
  margin-top: 2rem;

  .price-on-room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;

    .price-on-room-label {
      display: flex;
      gap: 0.4rem;
      font-size: 1rem;
    }

    .price-on-room {
      width: 7rem;
    }
  }

  .advance-label,
  .discount-label {
    display: flex;
    gap: 0.4rem;

    input {
      width: 5rem;
    }
  }

  .balance {
    font-size: 1.1rem;
    justify-self: center;
    align-self: center;
    color: black;
  }
}
