@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*,*::before,*::after {
    border: none;
    box-sizing: border-box;
    padding: 0;
}

:root{
    --action : #1b98e0;
    --secondary: #13293d;
    --main:#e8f1f2;
}


#root {
    
}


@media only screen and (min-device-width: 500px) {

    
    
}



