.adults-childs {
  display: flex;
  gap: 5rem;
}

.adults-l,
.childs-l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  input {
    text-align: center;
    width: 5.5rem;
  }
}
